@import url(base/boilerplate.css);
@import url(base/normalize.css);
/*___grid___*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* basic grid components */
.grid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 90%; }

.row {
  /* clearfix */ }
  .row:after, .row:before {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

/* basic column styling */
[class*='col-'] {
  float: left;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

/* base column classes */
.col-1-1 {
  width: 100%; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.33333%; }

.col-2-3 {
  width: 66.66667%; }

.col-1-4 {
  width: 25%; }

.col-3-4 {
  width: 75%; }

.col-1-5 {
  width: 20%; }

.col-2-5 {
  width: 40%; }

.col-3-5 {
  width: 60%; }

.col-4-5 {
  width: 80%; }

.col-1-6 {
  width: 16.66667%; }

.col-5-6 {
  width: 83.33333%; }

.col-1-12 {
  width: 8.33333%; }

.offset-0 {
  margin-left: 0%; }

.offset-1-2 {
  margin-left: 50%; }

.offset-1-3 {
  margin-left: 33.33333%; }

.offset-2-3 {
  margin-left: 66.66667%; }

.offset-1-4 {
  margin-left: 25%; }

.offset-3-4 {
  margin-left: 75%; }

.offset-1-5 {
  margin-left: 20%; }

.offset-2-5 {
  margin-left: 40%; }

.offset-3-5 {
  margin-left: 60%; }

.offset-4-5 {
  margin-left: 80%; }

.offset-1-6 {
  margin-left: 16.66667%; }

.offset-5-6 {
  margin-left: 83.33333%; }

.offset-1-12 {
  margin-left: 8.33333%; }

/* x-small screen column classes */
@media (max-width: 640px) {
  .col-xs-1-1 {
    width: 100%; }

  .col-xs-1-2 {
    width: 50%; }

  .col-xs-1-3 {
    width: 33.33333%; }

  .col-xs-2-3 {
    width: 66.66667%; }

  .col-xs-1-4 {
    width: 25%; }

  .col-xs-3-4 {
    width: 75%; }

  .col-xs-1-5 {
    width: 20%; }

  .col-xs-2-5 {
    width: 40%; }

  .col-xs-3-5 {
    width: 60%; }

  .col-xs-4-5 {
    width: 80%; }

  .col-xs-1-6 {
    width: 16.66667%; }

  .col-xs-5-6 {
    width: 83.33333%; }

  .col-xs-1-12 {
    width: 8.33333%; }

  .offset-xs-0 {
    margin-left: 0%; }

  .offset-xs-1-2 {
    margin-left: 50%; }

  .offset-xs-1-3 {
    margin-left: 33.33333%; }

  .offset-xs-2-3 {
    margin-left: 66.66667%; }

  .offset-xs-1-4 {
    margin-left: 25%; }

  .offset-xs-3-4 {
    margin-left: 75%; }

  .offset-xs-1-5 {
    margin-left: 20%; }

  .offset-xs-2-5 {
    margin-left: 40%; }

  .offset-xs-3-5 {
    margin-left: 60%; }

  .offset-xs-4-5 {
    margin-left: 80%; }

  .offset-xs-1-6 {
    margin-left: 16.66667%; }

  .offset-xs-5-6 {
    margin-left: 83.33333%; }

  .offset-xs-1-12 {
    margin-left: 8.33333%; } }
/* small+ screen column classes */
@media (min-width: 640px) {
  .col-sm-1-1 {
    width: 100%; }

  .col-sm-1-2 {
    width: 50%; }

  .col-sm-1-3 {
    width: 33.33333%; }

  .col-sm-2-3 {
    width: 66.66667%; }

  .col-sm-1-4 {
    width: 25%; }

  .col-sm-3-4 {
    width: 75%; }

  .col-sm-1-5 {
    width: 20%; }

  .col-sm-2-5 {
    width: 40%; }

  .col-sm-3-5 {
    width: 60%; }

  .col-sm-4-5 {
    width: 80%; }

  .col-sm-1-6 {
    width: 16.66667%; }

  .col-sm-5-6 {
    width: 83.33333%; }

  .col-sm-1-12 {
    width: 8.33333%; }

  .offset-sm-0 {
    margin-left: 0%; }

  .offset-sm-1-2 {
    margin-left: 50%; }

  .offset-sm-1-3 {
    margin-left: 33.33333%; }

  .offset-sm-2-3 {
    margin-left: 66.66667%; }

  .offset-sm-1-4 {
    margin-left: 25%; }

  .offset-sm-3-4 {
    margin-left: 75%; }

  .offset-sm-1-5 {
    margin-left: 20%; }

  .offset-sm-2-5 {
    margin-left: 40%; }

  .offset-sm-3-5 {
    margin-left: 60%; }

  .offset-sm-4-5 {
    margin-left: 80%; }

  .offset-sm-1-6 {
    margin-left: 16.66667%; }

  .offset-sm-5-6 {
    margin-left: 83.33333%; }

  .offset-sm-1-12 {
    margin-left: 8.33333%; } }
/* medium+ screen column classes */
@media (min-width: 960px) {
  .col-md-1-1 {
    width: 100%; }

  .col-md-1-2 {
    width: 50%; }

  .col-md-1-3 {
    width: 33.33333%; }

  .col-md-2-3 {
    width: 66.66667%; }

  .col-md-1-4 {
    width: 25%; }

  .col-md-3-4 {
    width: 75%; }

  .col-md-1-5 {
    width: 20%; }

  .col-md-2-5 {
    width: 40%; }

  .col-md-3-5 {
    width: 60%; }

  .col-md-4-5 {
    width: 80%; }

  .col-md-1-6 {
    width: 16.66667%; }

  .col-md-5-6 {
    width: 83.33333%; }

  .col-md-1-12 {
    width: 8.33333%; }

  .offset-md-0 {
    margin-left: 0%; }

  .offset-md-1-2 {
    margin-left: 50%; }

  .offset-md-1-3 {
    margin-left: 33.33333%; }

  .offset-md-2-3 {
    margin-left: 66.66667%; }

  .offset-md-1-4 {
    margin-left: 25%; }

  .offset-md-3-4 {
    margin-left: 75%; }

  .offset-md-1-5 {
    margin-left: 20%; }

  .offset-md-2-5 {
    margin-left: 40%; }

  .offset-md-3-5 {
    margin-left: 60%; }

  .offset-md-4-5 {
    margin-left: 80%; }

  .offset-md-1-6 {
    margin-left: 16.66667%; }

  .offset-md-5-6 {
    margin-left: 83.33333%; }

  .offset-md-1-12 {
    margin-left: 8.33333%; } }
/* large+ screen column classes */
@media (min-width: 1200px) {
  .col-lg-1-1 {
    width: 100%; }

  .col-lg-1-2 {
    width: 50%; }

  .col-lg-1-3 {
    width: 33.33333%; }

  .col-lg-2-3 {
    width: 66.66667%; }

  .col-lg-1-4 {
    width: 25%; }

  .col-lg-3-4 {
    width: 75%; }

  .col-lg-1-5 {
    width: 20%; }

  .col-lg-2-5 {
    width: 40%; }

  .col-lg-3-5 {
    width: 60%; }

  .col-lg-4-5 {
    width: 80%; }

  .col-lg-1-6 {
    width: 16.66667%; }

  .col-lg-5-6 {
    width: 83.33333%; }

  .col-lg-1-12 {
    width: 8.33333%; }

  .offset-lg-0 {
    margin-left: 0%; }

  .offset-lg-1-2 {
    margin-left: 50%; }

  .offset-lg-1-3 {
    margin-left: 33.33333%; }

  .offset-lg-2-3 {
    margin-left: 66.66667%; }

  .offset-lg-1-4 {
    margin-left: 25%; }

  .offset-lg-3-4 {
    margin-left: 75%; }

  .offset-lg-1-5 {
    margin-left: 20%; }

  .offset-lg-2-5 {
    margin-left: 40%; }

  .offset-lg-3-5 {
    margin-left: 60%; }

  .offset-lg-4-5 {
    margin-left: 80%; }

  .offset-lg-1-6 {
    margin-left: 16.66667%; }

  .offset-lg-5-6 {
    margin-left: 83.33333%; }

  .offset-lg-1-12 {
    margin-left: 8.33333%; } }
/* extra padding classes */
.pt0 {
  padding-top: 0px; }

.pb0 {
  padding-bottom: 0px; }

.ptb0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.pr0 {
  padding-right: 0px; }

.pl0 {
  padding-left: 0px; }

.prl0 {
  padding-right: 0px;
  padding-left: 0px; }

.pt1 {
  padding-top: 6px; }

.pb1 {
  padding-bottom: 6px; }

.ptb1 {
  padding-top: 6px;
  padding-bottom: 6px; }

.pr1 {
  padding-right: 6px; }

.pl1 {
  padding-left: 6px; }

.prl1 {
  padding-right: 6px;
  padding-left: 6px; }

.pt2 {
  padding-top: 12px; }

.pb2 {
  padding-bottom: 12px; }

.ptb2 {
  padding-top: 12px;
  padding-bottom: 12px; }

.pr2 {
  padding-right: 12px; }

.pl2 {
  padding-left: 12px; }

.prl2 {
  padding-right: 12px;
  padding-left: 12px; }

.pt3 {
  padding-top: 18px; }

.pb3 {
  padding-bottom: 18px; }

.ptb3 {
  padding-top: 18px;
  padding-bottom: 18px; }

.pr3 {
  padding-right: 18px; }

.pl3 {
  padding-left: 18px; }

.prl3 {
  padding-right: 18px;
  padding-left: 18px; }

.pt4 {
  padding-top: 24px; }

.pb4 {
  padding-bottom: 24px; }

.ptb4 {
  padding-top: 24px;
  padding-bottom: 24px; }

.pr4 {
  padding-right: 24px; }

.pl4 {
  padding-left: 24px; }

.prl4 {
  padding-right: 24px;
  padding-left: 24px; }

.pt5 {
  padding-top: 30px; }

.pb5 {
  padding-bottom: 30px; }

.ptb5 {
  padding-top: 30px;
  padding-bottom: 30px; }

.pr5 {
  padding-right: 30px; }

.pl5 {
  padding-left: 30px; }

.prl5 {
  padding-right: 30px;
  padding-left: 30px; }

.pt6 {
  padding-top: 36px; }

.pb6 {
  padding-bottom: 36px; }

.ptb6 {
  padding-top: 36px;
  padding-bottom: 36px; }

.pr6 {
  padding-right: 36px; }

.pl6 {
  padding-left: 36px; }

.prl6 {
  padding-right: 36px;
  padding-left: 36px; }

.pt7 {
  padding-top: 42px; }

.pb7 {
  padding-bottom: 42px; }

.ptb7 {
  padding-top: 42px;
  padding-bottom: 42px; }

.pr7 {
  padding-right: 42px; }

.pl7 {
  padding-left: 42px; }

.prl7 {
  padding-right: 42px;
  padding-left: 42px; }

.pt8 {
  padding-top: 48px; }

.pb8 {
  padding-bottom: 48px; }

.ptb8 {
  padding-top: 48px;
  padding-bottom: 48px; }

.pr8 {
  padding-right: 48px; }

.pl8 {
  padding-left: 48px; }

.prl8 {
  padding-right: 48px;
  padding-left: 48px; }

.pt9 {
  padding-top: 54px; }

.pb9 {
  padding-bottom: 54px; }

.ptb9 {
  padding-top: 54px;
  padding-bottom: 54px; }

.pr9 {
  padding-right: 54px; }

.pl9 {
  padding-left: 54px; }

.prl9 {
  padding-right: 54px;
  padding-left: 54px; }

.pt10 {
  padding-top: 60px; }

.pb10 {
  padding-bottom: 60px; }

.ptb10 {
  padding-top: 60px;
  padding-bottom: 60px; }

.pr10 {
  padding-right: 60px; }

.pl10 {
  padding-left: 60px; }

.prl10 {
  padding-right: 60px;
  padding-left: 60px; }

.pt11 {
  padding-top: 66px; }

.pb11 {
  padding-bottom: 66px; }

.ptb11 {
  padding-top: 66px;
  padding-bottom: 66px; }

.pr11 {
  padding-right: 66px; }

.pl11 {
  padding-left: 66px; }

.prl11 {
  padding-right: 66px;
  padding-left: 66px; }

.pt12 {
  padding-top: 72px; }

.pb12 {
  padding-bottom: 72px; }

.ptb12 {
  padding-top: 72px;
  padding-bottom: 72px; }

.pr12 {
  padding-right: 72px; }

.pl12 {
  padding-left: 72px; }

.prl12 {
  padding-right: 72px;
  padding-left: 72px; }

.pt13 {
  padding-top: 78px; }

.pb13 {
  padding-bottom: 78px; }

.ptb13 {
  padding-top: 78px;
  padding-bottom: 78px; }

.pr13 {
  padding-right: 78px; }

.pl13 {
  padding-left: 78px; }

.prl13 {
  padding-right: 78px;
  padding-left: 78px; }

.pt14 {
  padding-top: 84px; }

.pb14 {
  padding-bottom: 84px; }

.ptb14 {
  padding-top: 84px;
  padding-bottom: 84px; }

.pr14 {
  padding-right: 84px; }

.pl14 {
  padding-left: 84px; }

.prl14 {
  padding-right: 84px;
  padding-left: 84px; }

.pt15 {
  padding-top: 90px; }

.pb15 {
  padding-bottom: 90px; }

.ptb15 {
  padding-top: 90px;
  padding-bottom: 90px; }

.pr15 {
  padding-right: 90px; }

.pl15 {
  padding-left: 90px; }

.prl15 {
  padding-right: 90px;
  padding-left: 90px; }

.pt16 {
  padding-top: 96px; }

.pb16 {
  padding-bottom: 96px; }

.ptb16 {
  padding-top: 96px;
  padding-bottom: 96px; }

.pr16 {
  padding-right: 96px; }

.pl16 {
  padding-left: 96px; }

.prl16 {
  padding-right: 96px;
  padding-left: 96px; }

/*___typography___*/
* {
  -webkit-font-smoothing: antialiased; }

p {
  font-size: 15px;
  line-height: 1.6;
  font-family: "roboto", "helvetica neue" helvetica, arial, sans-serif;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "roboto", "helvetica neue" helvetica, arial, sans-serif;
  outline: 0;
  margin: 0; }

.hide {
  display: none; }

/*___buttons___*/
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #dfe5e8;
  border-radius: 2px;
  border: 0 none;
  color: #244c60;
  cursor: pointer;
  display: inline-block;
  font-family: "roboto", "helvetica neue" helvetica, arial, sans-serif;
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  margin-right: 18px;
  overflow: hidden;
  padding: 0 18px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 0; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #244c60;
  background-color: #d6dde1; }

/* pop button styling */
.button.pop,
button.pop,
input[type="submit"].pop,
input[type="reset"].pop,
input[type="button"].pop {
  color: #FFF;
  background-color: #1cc0b2; }

.button.pop:hover,
button.pop:hover,
input[type="submit"].pop:hover,
input[type="reset"].pop:hover,
input[type="button"].pop:hover {
  color: #FFF;
  background-color: #1db6ab; }

/* primary button styling */
.button.primary,
button.primary,
input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary {
  color: #FFF;
  background-color: #244c60; }

.button.primary:hover,
button.primary:hover,
input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover {
  color: #FFF;
  background-color: #214455; }
