/*___buttons___*/

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
  background-color: #dfe5e8;
  border-radius: 2px;
  border: 0 none;
  color: #244c60;
  cursor: pointer;
  display: inline-block;
  font-family: $font-stack;
  // font-size: 13px;
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  margin-right: 18px;
  overflow: hidden;
  padding: 0 18px;
  text-align: center;
  text-decoration: none;
  // text-transform: uppercase;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus{
  outline: 0;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #244c60;
  background-color: #d6dde1;
}

/* pop button styling */
.button.pop,
button.pop,
input[type="submit"].pop,
input[type="reset"].pop,
input[type="button"].pop {
  color: #FFF;
  background-color: #1cc0b2;
}

.button.pop:hover,
button.pop:hover,
input[type="submit"].pop:hover,
input[type="reset"].pop:hover,
input[type="button"].pop:hover {
  color: #FFF;
  background-color: #1db6ab;
}

/* primary button styling */
.button.primary,
button.primary,
input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary {
  color: #FFF;
  background-color: #244c60;
}

.button.primary:hover,
button.primary:hover,
input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover {
  color: #FFF;
  background-color: #214455;
}
